@model IEnumerable<mvc.Models.Seguimiento>

@{
    ViewBag.Title = "Index";
}

<h2>Seguimiento</h2>

<p>
    @Html.ActionLink("Ingresar nueva visita", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_facilitador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_mascota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_adoptante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_mascota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_facilitador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_mascota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_adoptante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_mascota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.cod_seguimiento }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.cod_seguimiento }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.cod_seguimiento })
        </td>
    </tr>
}

</table>
